/**
!/README.md
!/.gitignore

!/.local
!/.local/bin
!/.local/bin/*

!/.config
!/.config/foot
!/.config/foot/**
!/.config/git
!/.config/git/**
!/.config/kitty
!/.config/kitty/**
/.config/kitty/kitty.conf.bak
!/.config/mako
!/.config/mako/**
!/.config/neofetch
!/.config/neofetch/**
!/.config/nvim
!/.config/nvim/**
!/.config/sway
!/.config/sway/**
!/.config/swaylock
!/.config/swaylock/**
!/.config/swaynag
!/.config/swaynag/**
!/.config/zathura
!/.config/zathura/**
!/.config/zsh
!/.config/zsh/**
