/**
!/README.md
!/.gitignore

!/.local
!/.local/bin
!/.local/bin/*

!/.config
!/.config/foot
!/.config/foot/foot.ini
!/.config/git
!/.config/git/config
!/.config/kitty
!/.config/kitty/kitty.conf
!/.config/kitty/current-theme.conf
/.config/kitty/kitty.conf.bak
!/.config/mako
!/.config/mako/config
!/.config/neofetch
!/.config/neofetch/config.conf
!/.config/nvim
!/.config/nvim/**
!/.config/sioyek
!/.config/sioyek/keys_user.config
!/.config/sioyek/prefs_user.config
!/.config/sway
!/.config/sway/**
!/.config/swaylock
!/.config/swaylock/config
!/.config/swaynag
!/.config/swaynag/config
!/.config/zathura
!/.config/zathura/zathurarc
!/.config/zathura/flexoki-dark
!/.config/zsh
!/.config/zsh/.zprofile
!/.config/zsh/.zshenv
!/.config/zsh/.zshrc
