/**
!/README.md
!/.gitignore

!/.zprofile
!/.zshenv
!/.zshrc
!/.zshrc~

!/.local
!/.local/bin
!/.local/bin/*

!/.config
!/.config/tmux
!/.config/tmux/theme.conf
!/.config/fish
!/.config/fish/**
!/.config/fuzzel
!/.config/fuzzel/fuzzel.ini
!/.config/git
!/.config/git/config
!/.config/git/credential-helper.sh
!/.config/home-manager
!/.config/home-manager/**
!/.config/kitty
!/.config/kitty/kitty.conf
!/.config/kitty/current-theme.conf
/.config/kitty/kitty.conf.bak
!/.config/mako
!/.config/mako/config
!/.config/nvim
!/.config/nvim/**
/.config/nvim/lazy-lock.json
/.config/nvim/spell
!/.config/sway
!/.config/sway/**
!/.config/swaylock
!/.config/swaylock/config
!/.config/swaynag
!/.config/swaynag/config
